<launch>
  <arg name="gtts_machine" default="localhost" />
  <arg name="sound_play_machine" default="localhost" />

  <arg name="launch_sound_play" default="true" />
  <arg name="launch_echo" default="false"/>

  <arg name="use_machine" default="true" />
  <machine if="$(arg use_machine)" name="localhost" address="localhost" />

  <node name="gtts" pkg="ros_gtts" type="ros_gtts_node.py"
        machine="$(arg gtts_machine)" />

  <node pkg="sound_play" type="soundplay_node.py" name="sound_play_gtts"
        if="$(arg launch_sound_play)"
        machine="$(arg sound_play_machine)">
    <remap from="sound_play" to="robotsound"/>
    <env name="PATH" value="$(find ros_gtts)/bin:$(env PATH)" />
  </node>

  <node name="echo" pkg="ros_gtts" type="echo.py"
        if="$(arg launch_echo)">
    <remap from="sound_play" to="robotsound"/>
  </node>
</launch>
